
legend
{
  font-weight:bold;
}

fieldset 
{
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    width: 500px;
}

table, th, td {
  border: 1px solid;

}

th, td {
  padding: 10px;
  
}