<!DOCTYPE html>
<html lang="pt" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/style.css}" />
        <title>Escalas</title>
    </head>
    <body>
        <div class="caminho">
            <a href="/index.html">Home</a> > 
            <a href="/projeto/listar.html">Projetos</a>
        </div>
        <h1>Observações</h1>
        <div>
            <h2>Informações do projeto</h2>
            <div th:object="${projeto}">
                <label><b>ID: </b></label>
                <span th:text="*{id}"></span><br>
                <label><b>Nome: </b></label>
                <span th:text="*{nome}"></span><br>
                <label><b>Uri do repositório: </b></label>
                <span th:text="*{uriRepositorio}"></span><br>
                <label><b>Uri do perfil: </b></label>
                <span th:text="*{uriPerfil}"></span>
                <br><br><br>
                <a th:href="@{../../{id}/observacoes/nova.html(id=*{id})}">Adicionar Observação</a>
                <br><br>
                <table>
                    <thead>
                        <tr> 
                            <th>Observação</th> 
                            <th>URI para descrição</th> 
                            <th>Escala</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div th:each="projetoObservacao: ${projetoObservacoes}" th:object=${projetoObservacoes}>
                            <div th:if="${projeto.id}==${projetoObservacao.idProjeto}">
                                <div th:each="observacao: ${observacoes}" th:object=${observacao}>
                                    <tr th:if="${observacao.id}==${projetoObservacao.idObservacao}">
                                        <td th:text=${observacao.nome}></td>
                                        <td th:text=${observacao.uriDescricao}></td>

                                        <div th:each="escalaObj : ${escalas}" th:object=${escalas}>
                                            <td th:if="${escalaObj.id}==${observacao.escala}" th:text=${escalaObj.nome}></td>
                                        </div>
                                        <td><a th:href="@{./excluir/{id}(id=${projetoObservacao.id})}">Remover</a></td>
                                    </tr>
                                </div>
                            </div>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>