<!DOCTYPE html>
<html lang="pt" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/style.css}" />
        <title>Nova Escala</title>
        <link rel="stylesheet" th:href="@{/style.css}" />
    </head>
    <body>
        <div class="caminho">
            <a href="/index.html">Home</a>
        </div>
        <h1>Nova Escala</h1>
        <div id="area">
            <form th:action="@{nova.html}" th:object="${escala}" method="POST">
                <fieldset>
                    <legend>Formulário</legend>
                    <label>Nome: <input type="text" th:field="*{nome}"/></label><br>
                    <label>Uri da descrição: <input type="text" th:field="*{uriDescricao}"/></label><br>
                    <div>
                        <input type="checkbox" id="smell" name="smell" th:field="*{smell}">
                        <label for="smell">É uma good smell? </label>
                    <div><br>
                    <input type="submit"/>
                </fieldset>
            </form>
        </div>
    </body>
</html>